*{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

html{
    @include scrollbars(0.5em, $brand5);  
}

body{
    margin:0;
    padding:0;
    width: 100vw;
    overflow-x: hidden;
    font:{
        family:$font2;
    } 
    
}

main{
    padding: 95px ($gutter * 2) 0;
}

h1,h2,h3,h4,h5,h6{
}

h1,.h1{
    font:{
        family: $font1;
        size: 2em;
        weight:700;
    }
    color:$brand5;
}

h2,.h2{
    font:{
        family: $font1;
        size: 1.5em;
        weight:700;
    }
    color:$brand4;
    text-transform:uppercase;
    margin-top:10px;
}

h3,.h3{ 
    font:{
        family: $font1;
        size: 1.2em;
        weight:700;
    }
    color:$brand4;
}

h4,.h4{
    font:{
        family: $font2;
        size: 1em;
        weight:500;
    }
    color:$brand4;
}
 
h5,.h5{
    font:{
        family: $font2;
        size: 0.75em;
        weight:700;
    }
    margin-bottom: 3vh;
    color:$brand1;
}

h6,.h6{
    font:{
        family: $font2;
        size: 0.7em;
        weight:400;
    }
}

p{ 
    font:{
        family: $font2;
        size: 0.875em;
        weight:400;
    }
    margin:0 0 0 20px;
    color: $brand3; 
    line-height: 30px;
}

a, button{
    text-decoration:none;
    font:{
        size:0.875em;
    }
}

nav{
    a{
        font:{
            family: $font2;
            size: 1em;
            weight:700;
        }
        color: $brand5;
        &.white_link{
            color: $white;
        }
    }
}

ul,li{
    padding:0;
}

li{
    margin-bottom: 5px;
    list-style: none;
    font:{
        size:0.875em;
    }
}

img{
    width:100%;
}

section{
    margin: 100px 0;
}

/*******************      Button       ********************/
.btn{
    border:none;
    background:none;
    outline: none;
    padding: 16px 50px;
    border-radius: 3px;
    margin-top:30px;
    font:{
        weight:600;
        family:$font2;
        size:1em;
    }
    &.btn_dark{
        background-color: $brand5;
        color: $white;
    }

    &.btn_light{
        background-color: $white;
        color: $brand5;
    }
}