

//colors
$white: #FFFFFF; // White
$black: #000000; // Black

$gray1: #F0F0F0; // light gray	
$gray2: #404E53; // mid gray
$gray3: #C7CACB; // darker gray

$brand1: #5BC0BE; // green
$brand2: #3874BC;
$brand3: #3A506B;
$brand4: #1C2541;
$brand5: #0B132B; //darkest blue


//transition styles

$transition-load: cubic-bezier(0.45, 0.1, 0.02, 1.04);

//Size
$gutter: 3vw;