
/**************************         
IMPORT
***************************/     
@import "_imports.scss"; // media queries - if needed 


/**************************
TEMPLATES begin 
***************************/   
/*-----------------------------------------------------------------------------------

        ! ! !    R E A D   T H I S    ! ! !  
        -----------------
         
        It's recomended to use/create a custom css file (or place them at the end of this file) to do you customizations in order to easily update the main css files without loosing your changes
        
        
        > > Please take also a look at the documentation file.       
    

/*-----------------------------------------------------------------------------------
    
    1.  GLOBALS
     
-----------------------------------------------------------------------------------*/

/*---------------------------------------------- 
1. GLOBALS
------------------------------------------------*/
html.disable_scroll{
	position:fixed;
	overflow:hidden;
	#menu_icon{
		&.close{
	    	svg{
	    		rect{
	    			
	    			transform-origin: center center;
	    			&:first-child{
	    				transform: rotate(45deg) translate(0px, 6px);
	    			}
	    			&:nth-child(2){
		    			transform: translateX(20px);
					    opacity: 0;
					}
					&:last-child{
	    				transform: rotate(-45deg) translate(0px, -8px);
	    			}
	    		}
	    	}
	    }
	}

	nav[aria-expanded="true"]{
		transform: translateX(0vw); 
	}
}

header{
	display: grid;
    grid-template-columns: auto auto;
    padding:20px ($gutter * 2);
    align-items: center;
    background-color: $white;
    justify-content: space-between;
    position:fixed;
    width: 100vw;
    z-index: 10000;
    box-sizing: border-box;
    img{
    	max-width:260px;
    }

    #logo, #menu_icon {
    	z-index: 10000;
    	display:grid;
    }
    #menu_icon{
	    padding: 10px;
	    transition: 1s ease;
	    rect{
	    	transition: 1s ease;
	    }

	    @include MQ($M){
	    	display:none;
	    }
    }

	nav{
		transform: translateX(100vw); 
		position:fixed;
		top: 80px;
		background-color: $brand5;
		width: 100vw;
		padding: $gutter ($gutter * 2);
		box-sizing: border-box;
		transition: 1s ease;
		a{
			color:$white;
		    padding: 10px 10px;
		    width: 100%;
		    display: grid;
		}

		@include MQ($M){
	    	position:initial;
	    	background:none;
	    	transform: none; 
	    	width:initial;
	    	padding:0;
	    	ul{
    		    display: grid;
			    grid-template-columns: repeat(5, auto);
			    grid-gap:5px;
			    margin:0;
			    li{
			    	margin:0;
			    }
			    a{
			    	color:$brand4;
			    	padding: 5px;
			    	font:{
			    		weight:500;
			    	}
			    }
	    	}
	    }
	}
}


footer{
    width: 100vw;
    position:absolute;
    background-color:$brand5;
    padding: $gutter * 2;
    text-align:right;
    box-sizing: border-box;
    color:$white;
    margin-top:$gutter * 2;
    a{
    	color:$white;
    	text-decoration:underline;
    	font-size: inherit;
    }
}

#header{
	margin-top:0;
	display:grid;    
	background-image: url("../../assets/img/enterence_img.jpg");
    background-position: center center;
    background-size: cover;
    padding: ($gutter * 3) ($gutter * 2) $gutter ;

    #header_text{
    	max-width:600px;
    	h1,p{
    		color:$white;
    		text-shadow: 2px 2px 5px rgba($black, 0.3);
    	}
    }

    img{
	    height: 20px;
    }

    .scroll_down{
	    padding: 15px;
	    margin: 40px auto 0;
	    width: fit-content;
	    height: min-content;
	    background: none;
	    border: none;
    }
}

#projects{
	display:grid;
	grid-gap: $gutter;
	.project{

	}
	small{
		padding-left: 20px;
		color: $brand3;
	}
	.project_image{
		position:relative;
	}
	//Arrow controls are in _custom.scss


	@include MQ($M){
		grid-template-columns: auto auto;
	    .title{
	    	display: grid;
		    grid-column: span 2;
		}
		.project{
			position:relative;
			&:nth-child(2){
				width:30vw;
				margin-left:10vw;
			}

			&:nth-child(3){
				width:35vw;
				margin-top:10vw;
				margin-left:3vw;
			}

			&:nth-child(4){
				width:40vw;
				margin-top:-7vw;
			}

			&:nth-child(5){
				width:25vw;
				margin-left:20vw;
				margin-top:7vw;
			}

			&:last-child{
				width:45vw;
				margin-left:17vw;
				grid-column:span 2;
			}
		}
	}
}

#services{

	#lists{
		display: grid;
		grid-template-columns: 1fr 1fr;
		ul{
			padding:20px;
			li{
				list-style: disc;
			    padding: 5px;
			}
		}
	}

	#service_message{
		z-index:1000;
		background-color: $brand2;
		padding:$gutter * 2;
	    margin: -40px $gutter;
	    position: relative;
		p{
			margin-left:0;
			color:white;
		}
	}

	.services_image{
		position:relative;
	}

	@include MQ($M){
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    .title{
	    	grid-column: span 2;
	    }

	    #service_message{
    	    margin: -130px 0;
		    position: relative;
		    grid-column: span 2;
		    width: 60vw;
	    }
	}
}

#about{
	display:grid;
	margin-top: $gutter * 2;
	img{
		display:none;
	}
	#about_text{
		margin-top:40px;
		max-width:$L;
	}

	@include MQ($L){
		margin-top: 9vw;
		grid-template-columns:1fr 1fr;
		grid-gap:$gutter;
		img{
			display:grid;
		}

		h2{
			margin-left:0;
		}
	}
}

#contact{
	background-color:$brand4;
	text-align:center;
	padding: ($gutter * 4);

	p,h2,h4,a{
		color:white;
	}
	p{
		margin-left:0;
	}

	a{
		text-decoration:underline;
	}
}