
/**************************         
IMPORT
***************************/     
@import "_imports.scss"; // media queries - if needed 


/**************************
TEMPLATES begin 
***************************/   
/*-----------------------------------------------------------------------------------

        ! ! !    R E A D   T H I S    ! ! !  
        -----------------
         
        It's recomended to use/create a custom css file (or place them at the end of this file) to do you customizations in order to easily update the main css files without loosing your changes
        
        
        > > Please take also a look at the documentation file.       
    

/*-----------------------------------------------------------------------------------
    
    1.  GLOBALS
     
-----------------------------------------------------------------------------------*/

/*---------------------------------------------- 
1. GLOBALS
------------------------------------------------*/
html.disable_scroll{
	overflow:hidden;
	#menu_icon{
		&.close{
	    	svg{
	    		rect{
	    			
	    			transform-origin: center center;
	    			&:first-child{
	    				transform: rotate(45deg) translate(0px, 6px);
	    			}
	    			&:nth-child(2){
		    			transform: translateX(20px);
					    opacity: 0;
					}
					&:last-child{
	    				transform: rotate(-45deg) translate(0px, -8px);
	    			}
	    		}
	    	}
	    }
	}

	nav[aria-expanded="true"]{
		transform: translateY(0vw); 
	}
}

header{
	display: grid;
    grid-template-columns: auto auto;
    padding:20px ($gutter * 2);
    align-items: center;
    background-color: $white;
    justify-content: space-between;
    position:fixed;
    width: 100vw;
    z-index: 10000;
    box-sizing: border-box;
    img{
    	max-width:260px;
    }

    #logo, #menu_icon {
    	z-index: 10000;
    	display:grid;
    }
    #menu_icon{
	    padding: 10px;
	    transition: 1s ease;
	    rect{
	    	transition: 1s ease;
	    }

	    @include MQ($M){
	    	display:none;
	    }
    }

	nav{
		transform: translateY(-100vw); 
		position:fixed;
		top: 80px;
		background-color: $brand5;
		width: 100vw;
		padding: $gutter ($gutter * 2);
		box-sizing: border-box;
		transition: 1s ease;
		a{
			color:$white;
		    padding: 10px 10px;
		    width: 100%;
		    display: grid;
		}

		@include MQ($M){
	    	position:initial;
	    	background:none;
	    	transform: none; 
	    	width:initial;
	    	padding:0;
	    	ul{
    		    display: grid;
			    grid-template-columns: repeat(5, auto);
			    grid-gap:5px;
			    margin:0;
			    li{
			    	margin:0;
			    }
			    a{
			    	color:$brand4;
			    	padding: 5px;
			    	font:{
			    		weight:500;
			    	}
			    }
	    	}
	    }
	}
}


footer{
    width: 100vw;
    position:absolute;
    background-color:$brand5;
    padding: $gutter * 2;
    text-align:right;
    box-sizing: border-box;
    color:$white;
    margin-top:$gutter * 2;
    a{
    	color:$white;
    	text-decoration:underline;
    	font-size: inherit;
    }
}

#header{
	margin-top:90px;
	display:grid;    
	background-image: url("../../assets/img/enterence_img.jpg");
    background-position: center center;
    background-size: cover;
    padding: ($gutter * 3) ($gutter * 2) $gutter ;

    #header_text{
    	max-width:600px;
    	h1,p{
    		color:$white;
    		text-shadow: 2px 2px 5px rgba($black, 0.3);
    	}
    }

    img{
	    height: 20px;
    }

    .scroll_down{
	    padding: 15px;
	    margin: 40px auto 0;
	    width: fit-content;
	    height: min-content;
	    background: none;
	    border: none;
    }

    @include MQ($M){
        margin-top: 120px;
    }
}

#projects{
	display:grid;
	grid-gap: $gutter;
	.project{
		.project_image{
			position:relative;
			.image_container{
				position: relative;
				height: calc(90vw * 9 /16);
				img{
					position:absolute;
				    top: 0;

				    &.active{
				    	z-index:90;
				    }
				}
			}
		}

	}
	small{
		padding-left: 20px;
		color: $brand3;
	}
	
	//Arrow controls are in _custom.scss


	@include MQ($M){
		grid-template-columns: auto auto;
	    .title{
	    	display: grid;
		    grid-column: span 2;
		}
		.project{
			position:relative;
			&:nth-child(2){
				width:30vw;
				margin-left:10vw;
				.image_container{
				    height: calc(30vw * 9 /16);
				}
			}

			&:nth-child(3){
				width:35vw;
				margin-top:10vw;
				margin-left:3vw;
				.image_container{
				    height: calc(35vw * 9 /16);
				}
			}

			&:nth-child(4){
				width:40vw;
				margin-top:-7vw;
				.image_container{
				    height: calc(40vw * 9 /16);
				}
			}

			&:nth-child(5){
				width:25vw;
				margin-left:20vw;
				margin-top:7vw;
				.image_container{
				    height: calc(25vw * 9 /16);
				}
			}

			&:last-child{
				width:45vw;
				margin-left:17vw;
				grid-column:span 2;
				.image_container{
				    height: calc(45vw * 9 /16);
				}
			}
		}
	}
}

#services{

	#lists{
		display: grid;
		grid-template-columns: 1fr 1fr;
		ul{
			padding:20px;
			li{
				list-style: disc;
			    padding: 2px;
		        font-weight: 300;
		        color: $brand4;
			}
		}
	}

	#service_message{
		z-index:1000;
		background-color: $brand2;
		padding:$gutter * 2;
	    margin: -40px $gutter;
	    position: relative;
		p{
			margin-left:0;
			color:white;
		}
	}

	.services_image{
		position:relative;
		.image_container{
			position: relative;
			height: calc(90vw * 9 /16);
			img{
				position:absolute;
			    top: 0;

			    &.active{
			    	z-index:90;
			    }
			}

			@include MQ($M) {
			    height: calc(82vw * 9 /16);
			}
		}
	}

	@include MQ($M){
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    .title{
	    	grid-column: span 2;
	    }

	    #service_message{
    	    margin: -130px 0 0;
		    position: relative;
		    grid-column: span 2;
		    width: 60vw;
	    }
	}
}

#about{
	display:grid;
	img{
		display:none;
	}
	#about_text{
		margin-top:40px;
		max-width:$L;
	}

	@include MQ($L){
		grid-template-columns:1fr 1fr;
		grid-gap:$gutter;
		img{
			display:grid;
		}

		h2{
			margin-left:0;
		}
	}
}

#contact{
	background-color:$brand4;
	text-align:center;
	padding: ($gutter * 4);
	margin-top: 120px;

	p,h2,h4,a{
		color:white;
	}
	p{
		margin-left:0;
	}

	a{
		text-decoration:underline;
	}

	@include MQ($M){
        margin-top: 120px;
    }
}

#quote{
	height: 100vh;
	width: 100vw;
	position: fixed;
	display:grid;
	top:0;
	z-index:30000;
	transform:translateY(100vh);
	transition:1s ease;
	#quote_container{
	    margin:auto;
	    position: relative;
	    background: $brand5;
	    max-width: 600px;
	    min-width: 350px;
	 	display:grid;
        height: min-content;
	    padding: 6vw;
	    border-radius: 15px;
	    box-sizing: border-box;
	    z-index:10;
	    h2{
	    	color:$brand1;
	    	text-align:left;
	    	text-transform:none;
	    	margin:0 0 20px;
	    }
	    .form_row{
	    	margin-bottom: 3vh;
	    	display: grid;
	    }
	    label{
	    	color:$white;
	    	font-size:0.875em;
	    }
	}

	#quote_overlay{
		position: absolute;
	    height: 100%;
	    width: 100%;
	    background-color: rgba($white, 0.7);
	}

	&.active{
		transform:translateY(0);
	}
}






